@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.inventory__card {
  display: flex;
  padding: 0 1.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  height: 12.8rem;
  box-sizing: border-box;
  border-bottom: 1px solid #bdc5d5;
  font-family: "Titillium Web";
  font-weight: 400;

  &:hover {
    background-color: rgba(46, 102, 230, 0.07);
  }

  @include tablet {
    width: 100%;
    padding: 1rem 0 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    height: 3.69rem;
  }

  @include desktop {
    padding: 0 2.5rem;
  }

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      border-bottom: none;
      justify-content: space-around;
      width: 80%;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      width: 72%;
      justify-content: space-between;
    }
  }

  &-info {
    margin-right: 1.2rem;
    margin-left: 1.2rem;
    text-align: center;
    align-items: center;
    align-content: center;
    padding-top: 0.5rem;
    width: 6.875rem;

    @include tablet {
      margin-right: 1.5rem;
      width: 8.75rem;
    }
  }

  &-title {
    color: #5c667e;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    font-family: "Titillium Web";

    @include tablet {
      display: none;
    }
  }

  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  
  &-text {
    font-family: "Titillium Web";
    text-align: center;

    @include tablet {
      width: 6.88rem;
    }
  }

  &-nowrap {
    white-space: nowrap;
  }

  &-quantity {
    text-align: center;
  }

  &-mobile {
    @include tablet {
      display: none;
    }
  }

  &-tablet {
    display: none;

    @include tablet {
      display: flex;
    }

    @include desktop {
      display: flex;
    }
  }

  &-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  &-action {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    top:5px;
    width: 90%;
    padding: 0.5rem 2rem;

    @include tablet {
      padding: 0;
      width: 5rem;
      justify-content: space-evenly;
    }

    @include desktop {
      justify-content: center;
      width: 10%;
    }
  }

  &-edit {
    width: 1.5rem;
  }
}
.out-of-stock {
  padding-top: 5rem;
}
