@use "../../styles/partials/typography";
@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";
@use "../../styles/partials/global";
@use "../../styles/partials/variables";

.body {
  background-color: colors.$primary-light;
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 1rem;
  //   top: -2.5rem;
  border-radius: 3px;

  @include mixins.tablet {
    flex-direction: row;
    top: -6.6rem;
  }

  @include mixins.desktop {
    width: 77%;
  }
  &__title {
    font-size: 1.7rem;
    color: colors.$primary-dark;
    margin: 0 0 5%;

    @include mixins.tablet {
      padding-left: 1rem;
    }
  }
}
.header-section {
  @include mixins.tablet {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 60%;
    justify-content: flex-end;
  }

  @include mixins.desktop {
    width: 52%;
  }
  &__search {
    height: 2.2rem;
    border: 1px solid colors.$secondary-medium;
    border-radius: 1.25rem;
    width: 18.3125rem;
    background: url("../../assets/icons/search-24px.svg") no-repeat scroll 95%
      50%;

    @include mixins.tablet {
      width: 9.875rem;
      margin: 5% 5% 0 0;
    }

    @include mixins.desktop {
      width: 17.125rem;
    }
  }
  &__search::placeholder {
    padding: 0 1rem 0;
    color: colors.$secondary-medium;
  }
  &__addButton {
    background-color: colors.$primary-blue;
    border-radius: 2.25rem;
    color: colors.$primary-light;
    border: none;
    margin: 5% 0 4%;
    width: 97%;
    height: 2.2rem;

    @include mixins.tablet {
      width: 8rem;
      height: 2.375rem;
    }
    @include mixins.desktop {
      width: 120%;
      margin: 5% 0 0 0;
    }
  }
}
.inventory-table {
  display: none;

  @include mixins.tablet {
    display: flex;
    height: 2.5rem;
    background-color: colors.$background-light;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  &__head {
    display: none;

    @include mixins.tablet {
      display: flex;
      height: 2.5rem;
      background-color: colors.$background-light;
      align-items: center;
      justify-content: space-between;
      width: 125%;
    }

    @include mixins.desktop {
      display: flex;
      height: 2.5rem;
      background-color: colors.$background-light;
      align-items: center;
      justify-content: space-between;
      width: 76%;
    }
  }
}
.inventory-list {
  @include mixins.tablet {
    display: flex;
    align-items: center;
  }

  &__item {
    font-family: "Titillium Web";
    @include mixins.tablet {
      font-size: 0.75rem;
      color: colors.$secondary-dark;
    }
  }
  &__sortingImg {
    @include mixins.tablet {
      width: 1.3rem;
      height: 1.3rem;
      color: colors.$secondary-dark;
    }
  }
}
// styling the items info part
.inventory-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include mixins.tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: none;
    justify-content: space-between;
    width: 77%;
  }

  @include mixins.desktop {
    display: flex;
    flex-direction: row;
    width: 72%;
    justify-content: space-between;
  }
}
.inventory-item-info {
  width: 40%;
  padding: 1rem 1rem 0;

  @include mixins.tablet {
    padding: 0;
    width: auto;
    text-align: left;
  }

  &__name {
    color: #5c667e;
    font-size: 0.75rem;
    margin: 0 0 4%;
    font-family: "Titillium Web";

    @include mixins.tablet {
      display: none;
    }
  }

  &__data {
    font-family: "Titillium Web";

    @include mixins.tablet {
      width: 6.88rem;
    }
  }
}
