@use "../../styles/partials/typography";
@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";
@use "../../styles/partials/global";
@use "../../styles/partials/variables";

.inventory-container {
  position: relative;
  top: -60px;
  @include mixins.tablet {
    width: 115%;
  }
  @include mixins.desktop {
    width: 100%;
  }
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 80%;
  background-color: colors.$background-light;

  @include mixins.tablet {
    flex-direction: row;
    width: 80%;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  @include mixins.desktop {
    margin-left: 8.125rem;
    margin-right: 8.125rem;
  }
  &__title {
    font-size: 1.7rem;
    color: colors.$primary-dark;
    padding-top: 2rem;
    margin-left: 1rem;

    @include mixins.tablet {
      padding-left: 1rem;
    }
  }
}
.header-section {
  @include mixins.tablet {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 60%;
    justify-content: flex-end;
    padding-top: 1rem;
  }

  @include mixins.desktop {
    width: 50%;
  }
  &__search {
    height: 2.2rem;
    border: 1px solid colors.$secondary-medium;
    border-radius: 1.25rem;
    width: 17rem;
    background-image: url("../../assets/icons/search-24px.svg");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    margin-left: 1rem;
    margin-top: 1rem;

    @include mixins.tablet {
      width: 9.875rem;
    }

    @include mixins.desktop {
      width: 17.125rem;
    }
  }
  &__search::placeholder {
    color: colors.$secondary-medium;
  }
  &__addButton {
    background-color: colors.$primary-blue;
    border-radius: 2.25rem;
    color: colors.$primary-light;
    border: none;
    margin-top: 1rem;
    width: 17rem;
    height: 2.25rem;
    margin-left: 1rem;

    @include mixins.tablet {
      width: 8rem;
      height: 2.25rem;
    }
    @include mixins.desktop {
      width: 8rem;
      margin: 5% 0 0 0;
    }
  }
}
.inventory-table {
  @include mixins.tablet {
    display: flex;
    height: 2.5rem;
    background-color: colors.$background-light;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  &__head {
    display: none;

    @include mixins.tablet {
      display: flex;
      justify-content: row;
      height: 2.5rem;
      background-color: colors.$background-light;
      align-items: center;
      width: 44rem;
    }

    @include mixins.desktop {
      display: flex;
      height: 2.5rem;
      background-color: colors.$background-light;
      align-items: center;
      width: 63.75rem;
    }
  }
}
.inventory-list {
  @include mixins.tablet {
    display: flex;
    align-items: center;
  }

  &__item {
    @include mixins.tablet {
      font-size: 0.65rem;
      color: colors.$secondary-dark;
      margin-left: 2rem;
    }
  }
  &__item-qty {
    @include mixins.tablet {
      font-size: 0.65rem;
      color: colors.$secondary-dark;
      margin-left: 4rem;
    }
  }
  &__sortingImg {
    @include mixins.tablet {
      width: 1rem;
      height: 1rem;
      color: colors.$secondary-dark;
    }
  }
}
// styling the items info part
.inventory-container {
  @include mixins.tablet {
  }
}
.inventory-card {
  display: flex;
  flex-direction: row;

  @include mixins.tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: none;
    justify-content: space-between;
  }

  @include mixins.desktop {
    display: flex;
    flex-direction: row;
    width: 72%;
    justify-content: space-between;
  }
}
.inventory-item-info {
  width: 40%;
  padding-left: 40px;
  padding-top: 24px;

  @include mixins.tablet {
  }

  &__title {
    color: colors.$secondary-dark;
    font-size: 0.75rem;
    margin: 0 0 4%;

    @include mixins.tablet {
      display: none;
    }
  }
  &__data {
    font-size: 0.75rem;
    color: colors.$secondary-dark;
    @include mixins.tablet {
      font-size: 0.75rem;
      color: colors.$secondary-dark;
      width: 6.88rem;
    }
  }
  &--right {
    padding-left: 11.25rem;
    padding-top: 1rem;
  }
  .item-description {
    display: flex;
    @include mixins.tablet {
      flex-direction: row;
    }
    &__name {
      font-size: 0.75rem;
      color: colors.$primary-blue;
    }
  }
}
.inventory-icon {
  padding-top: 1.1875rem;
  padding-bottom: 1.1875rem;
  display: flex;

  &__delete {
    padding-left: 2.5rem;
  }
  &__edit {
    padding-left: 10.625rem;
  }
  border-bottom: 1px solid #bdc5d5;
}
