@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";
@use "../../styles/partials/variables";
@use "../../styles/partials/global";

.footer {
  @include mixins.flex(center, center, row);
  @include mixins.mobil-body-small;
  //position: fixed;
  // bottom: 0;
  width: 100%;
  padding-bottom: 2.5rem;
  color: colors.$secondary-dark;
  @include mixins.tablet {
    @include mixins.body-small;
  }
  @include mixins.desktop {
    padding: 3rem 0;
  }
}
