


.warehouseList__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #bdc5d5;

    @include tablet {
        width: 100%;
        padding: 1rem 0 1.5rem;
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;
    }

    &-container {
        @include tablet {
            flex-wrap: nowrap;
            border-bottom: none;
            width: 77%;
        }

        @include desktop {
            width: 72%;
            justify-content: space-evenly;
        }
    }

    &-info {
        width: 40%;
        padding: 1rem 1rem 0;

        @include tablet {
            padding: 0;
            width: auto;
            text-align: left;
        }
    }

    &-title {
        color: #5c667e;
        font-size: 0.75rem;
        margin: 0 0 4%;
        font-family: 'Titillium';

        @include tablet{
            display: none;
        }
    }

    &-text {
        font-family: "Titillium";

        @include tablet {
            width: 6.88rem;
        }
    }

    &-action {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 90%;
        padding: 1rem 1rem 2rem;

        @include tablet {
            padding: 0;
            width: 5rem;
            justify-content: space-evenly;
        }

        @include desktop {
            justify-content: center;
            width: 10%;
        }
    }

    &-edit {
        width: 1.5rem;
    }
}