@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";
@use "../../styles/partials/variables";

.item-container {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  margin: -4.2rem 1rem 10.375rem 1rem;
  @include mixins.tablet {
    margin: -6.35rem 2rem 40rem 2rem;
  }

  @include mixins.desktop {
    margin: -6.4rem 8.125rem 34.9375rem 8.125rem;
  }

  &__header {
    @include mixins.flex(flex-start, flex-start, row);
    border-bottom: colors.$secondary-medium solid 1px;
    @include mixins.tablet {
      @include mixins.flex(flex-start, flex-start, row);
    }
  }
  &__title {
    margin-top: 1.8rem;
    margin-bottom: 1.5rem;
    margin-right: 5.5rem;
    @include mixins.tablet {
      //margin-right: 23rem;
    }
    @include mixins.desktop {
      //margin-right: 44rem;
    }
  }

  &__link-back {
    margin-top: 2.75rem;
    margin-left: 1.75rem;
    margin-right: 0.75rem;
  }
  &__edit-background {
    background-color: #2e66e6;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 25px;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: auto;
    @include mixins.tablet {
      width: 5.0625rem;
    }
  }
  &__edit-img {
    margin: 0.3438rem;
    padding: 0.125rem;
    @include mixins.tablet {
      margin-left: 0.625rem;
    }
  }
}

.item-box {
  margin: 1.5rem;
  @include mixins.tablet {
    @include mixins.flex(flex-start, _, _);
  }
}

.item-info {
  @include mixins.tablet {
    border-right: colors.$secondary-medium solid 1px;
    margin-bottom: 2rem;
    width: 50vw;
  }
  @include mixins.desktop {
    width: 50vw;
    margin-left: 10px;
    padding-right: 1rem;
  }
  &__title {
    color: colors.$secondary-dark;
    margin-bottom: 0.25rem;
    @include mixins.mobil-table-header;
  }
  &__title-description {
    margin-top: 1rem;
    @include mixins.tablet {
      margin-top: 0;
    }
    @include mixins.desktop {
      margin-right: 0;
    }
  }
  &__title-category {
    margin-top: 1rem;
  }
  &__title-status {
    margin-top: 1rem;
    width: 50%;
    @include mixins.tablet {
      margin-top: 0;
    }
  }
  &__title-quantity {
    margin-top: 1rem;
    width: 50%;
    @include mixins.tablet {
      margin-top: 0;
    }
    @include mixins.desktop {
      margin-right: 0;
    }
  }
  &__title-warehouse {
    margin-top: 1rem;
  }
  &__detail {
    @include mixins.mobil-body-medium;
    @include mixins.tablet {
      margin-right: 1.5rem;
    }
    @include mixins.desktop {
      width: 28rem;
      margin-right: 0;
    }
  }
  &__detail-status {
    border-radius: 20px;
    display: inline;
    @include mixins.mobil-body-small;
    @include mixins.tablet {
    }
  }
}

.in-stock {
  background-color: rgba(21, 132, 99, 0.07);
  color: colors.$supporting-green;
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
  display: inline;
}

.out-of-stock {
  background-color: rgba(201, 69, 21, 0.07);
  color: colors.$supporting-red;
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
}

.stock-info {
  @include mixins.flex(flex-start, _, column);
  flex-wrap: wrap;
  @include mixins.tablet {
    @include mixins.flex(flex-start, _, column);
    width: 50vw;
  }
  @include mixins.desktop {
    width: 50vw;
  }
  &__status-qty {
    @include mixins.flex(flex-start, _, row);
  }
  &__status {
    margin-right: 5rem;
    width: 5rem;
    @include mixins.tablet {
      margin-right: 0;
      width: 10rem;
    }
    @include mixins.desktop {
      width: 15rem;
    }
  }
  &__qty {
    margin-right: 5.5rem;
    @include mixins.tablet {
      margin-right: 0;
    }
    @include mixins.desktop {
      //width: 10rem;
      margin-right: 0;
    }
  }

  @include mixins.tablet {
    margin-left: 3rem;
  }
}

.warehouse-info {
  padding-bottom: 1.5rem;
}

.edit-text {
  display: none;
  @include mixins.tablet {
    display: inline;
    color: white;
    position: relative;
    top: -0.75rem;
  }
}

// .test {
//   border: red 1px solid;
// }
